@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
html, body {
    margin: 0;
    padding: 0;
}

h2 {
    font-style: italic;
}

*{
    font-family: 'Readex Pro', sans-serif;
}

.primary-button {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    background: linear-gradient(45deg, #8E1882, #050350);
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
}

.primary-button:hover {
    background: linear-gradient(250deg, #8E1882, #050350);;
}

body {
    text-align: center;
}

/*--- NavBar ---*/
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav .logo-container{
    width: 170px;
    margin: 15px;

}

nav .logo-container .logo{
    width: 100%;
}
/*
.overlay {
    background:
            linear-gradient(
            to bottom,
            rgba(0,0,0,0.65) 0%,
            rgba(0,0,0,0) 100%
            )
} */

nav .nav-button
{
    color: #8E1882;
    background-color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin: 10px;
}


.auth-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    max-width: 360px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    align-items: center;
    text-align: center;
}

/*
.auth-form {
    color: #e70ad0;
}
*/
.secondaryButton {
    color: #5b5a5a;
    background-color: white;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    padding: 12px 30px;
    border-radius: 30px;
    border: solid 2px rgb(121, 119, 119);
    margin: 6px;
}

.secondaryButton:hover {
    color: rgb(48, 48, 48);
    border: solid 2px rgb(48, 48, 48);
}

nav .nav-button:disabled
{
    color: #340530;
    background-color: #d0d0d0;
    font-size: 20px;
}
.auth-modal form {
    display: flex;
    flex-direction: column;
}

.auth-modal input[type=password],
.auth-modal input[type=email]{
    padding: 8px;
    margin: 8px;
    font-size: 17px;

}

/*
.auth-modal .close-icon {
    float: right;
}
*/
