@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
html {
    margin: 0;
    padding: 0;
}

*{
    font-family: 'Readex Pro', sans-serif;
}

.primary-button {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    background: linear-gradient(45deg, #8E1882, #050350);
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
}

.primary-button:hover {
    background: linear-gradient(250deg, #8E1882, #050350);;
}

body {
    text-align: center;
}

/*--- NavBar ---*/
