@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
html, body {
    margin: 0;
    padding: 0;
}

*{
    font-family: 'Readex Pro', sans-serif;
}

.primary-button {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    background: linear-gradient(45deg, #8E1882, #050350);
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
}

.primary-button:hover {
    background: linear-gradient(250deg, #8E1882, #050350);;
}

body {
    text-align: center;
}

/*--- NavBar ---*/
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav .logo-container{
    width: 170px;
    margin: 15px;

}

nav .logo-container .logo{
    width: 100%;
}
/*
.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;

}
*/
nav .nav-button
{
    color: #8E1882;
    background-color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin: 10px;
}